<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Natural Language Form</title>
		<meta name="description" content="Natural Language Form with custom text input and drop-down lists" />
		<meta name="keywords" content="Natural Language UI, sentence form, text input, contenteditable, html5, css3, jquery" />
		<meta name="author" content="Codrops" />


		<!-- Input form -->
		<link rel="shortcut icon" href="../favicon.ico">		
		<link rel="stylesheet" type="text/css" href="../css/inputForm/default.css" />
		<link rel="stylesheet" type="text/css" href="../css/inputForm/component.css" />
		<script src="../js/inputForm/modernizr.custom.js"></script>


		<!-- Bootstrap form -->
		<!--	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="../lib/bootstrap/bootstrap-3.0.2.min.css"> 
		

		<!-- Main CSS-->
		<link rel="stylesheet" href="../css/maincss.css"> 

		<!-- Jquery-->	
		<script src="../lib/Jquery/jquery-2.0.3.min.js"></script>

		<!-- Main JS-->	
		<script type="text/javascript" src="../js/scriptMain.js"></script>



	</head>
	<body>
					
						
					
		<div id="inputForm" class="nl-blurred">
			<div class="container demo-1">
	
				<header>
					<h1>Vad har du gjort idag? </h1>	
				</header>
				<div class="main clearfix">
					<form id="nl-form" class="nl-form">
						Jag 
						<select class="target" id="formActivityType" >
							<option value="1" selected>sprang</option>
							<option value="2">cyklade</option>
							<option value="3">gick</option>
							<option value="4">åt</option>
							<option value="5">sov</option>
						</select>
						<br />så mycket som
						
						<input class="target" type="text" value="" placeholder="1" data-subline="Skriv tex <em>hur långt</em> eller <em>hur mycket</em>"/>
						
						<label id="inputUnit"> mil</label>
						
<!--						<select>
							<option value="1" selected>mil</option>
							<option value="2">km</option>
							<option value="3">meter</option>
							<option value="4">portioner</option>
							<option value="2">timmar</option>
						</select>
-->

						<br>
						precis 
						<select>
							<option value="0" selected> just nu</option>
							<option value="1">7 p.m.</option>
							<option value="2">8 p.m.</option>
							<option value="3">9 p.m.</option>
						</select>



						<div class="nl-submit-wrap">
							<button class="nl-submit" type="submit">Spara</button>
						</div>
						<div class="nl-overlay"></div>
					</form>
				</div>
			</div><!-- /container -->
			<script src="../js/inputForm/nlform.js"></script>
			<script>
				var nlform = new NLForm( document.getElementById( 'nl-form' ) );
			</script>
	</div>


	</body>
</html>