<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>KaleidoCube</title>

	<!--	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../lib/bootstrap/bootstrap-3.0.2.min.css"> 
  
	<!--	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="../lib/bootstrap/font-awesome-4.0.3.min.css"> 

  <link rel="stylesheet" href="../css/maincss.css"> 

	<script src="../lib/Jquery/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="../js/scriptMain.js"></script>




	<style>


		body 		{ padding-top:80px; background-image: url("../img/kaleidoBackground.jpg"); color: white;}


	</style>

</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> KaleidoCube liksom..</h1>


	<hr>


<button id="logout" class="btn btn-warning btn-lg" onclick="window.location.href='/logout'">Log out</button>


</button>	
		

</div>

</div>
</body>
</html>
