<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>

	<!--	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../lib/bootstrap/bootstrap-3.0.2.min.css"> 
  
	<!--	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="../lib/bootstrap/font-awesome-4.0.3.min.css"> 


	<style>
		body 		{ padding-top:80px; }
	</style>

</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Skapa inloggning</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Organisation</label>
			<input type="text" class="form-control" name="organization">
		</div>
		<div class="form-group">
			<label>Grupp</label>
			<input list="exerciseType" class="form-control" name="group" >
		</div>
		
		<div class="form-group">
			<label>Anv&atilde;ndarnamn</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>L&ouml;senord</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Skapa konto</button>
	</form>

	<hr>

	<p>Har du redan ett konto? <a href="/login">g&aring till inloggning</a></p>
	<p>Eller g&aring; tillbaka till <a href="/">f&ouml;rstasidan</a>.</p>

</div>

</div>

						<datalist id="groupName">
							<option value="Grupp A">
							<option value="Grupp B">
							<option value="Grupp C">
							<option value="Grupp D">
						</datalist>


</body>
</html>
